.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.container-ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image img {
    width: 270px;
    height: 400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0px
}

.image {
    height: 400px;
}

.title {
    font-family: Montserrat, sans-serif;
    color: #808080;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 4px;
    padding: 30px;
}

.title,
p {
    padding: 30px;
    height: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
}

.right-container {
    width: 270px;
    height: 400px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.perfume-name {
    font-weight: bold;
    color: black;
    font-family: Fraunces, sans-serif;
    font-size: 30px;
    border: 0px;
    height: 100px;
    width: 270px;
}

.perfume-name,
p {
    margin: 0px;
    width: 240px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
}

button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
}

.perfume-description {
    font-family: Montserrat, sans-serif;
    color: #808080;
    font-size: 14px;
    position: relative;
    padding-top: 15px;
}

div .perfume-description {
    height: 70px;
    line-height: 1.5;
}

.price,
.discounted-price {
    display: inline-block;
    width: 48%;
    box-sizing: border-box;
}

.price {
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-size: 30px;
    font-family: Fraunces, sans-serif;
    width: 150px;
    height: 50px;
    padding-top: 20px;
}



.discounted-price {
    padding: 0px;
    width: 50px;
    text-decoration: line-through;
    color: #808080;
    font-size: 13px;
}

.discount {
    width: 50px;
    padding: 0px;
}